
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="jQuery.js"></script>
 



    <link rel="stylesheet" href="style.css">
    <link href="signin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class= “container”>
  <div class="jumbotron">
    <center class="display-5" style="margin: auto;font-size: 38pt;"><%= title%></center>
      <section class="container-fluid" >
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
       <div class="outter_container">
   
    <button id="panel" class="btn btn-lg btn-primary btn-block">Login as: <%= user%></button>
    <form class="form_container" id="hiden" action="/logout" method="GET">  
        <div style="padding: 20px;"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button>
        <div style="padding: 12px;"></div>
        </form>
    </div>
            </section>
        </section>
        </section>
        <p style="padding: 12px;"></p>
        </div> 
  </div>
  <section class="container-fluid" >
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-4">
            <div class="outter_container bg">
            
             <div id="content_list">

              <% for(var i=0; i<task.length; i++){%>

                <% if(task[i].owner == u_id&&task[i].done==0&&task[i].cleared!=1&&task[i].owner != null){ %>
                  <form method="POST" id="cc<%= task[i]._id%>" action="/abandonorcomplete">
              <div class="input-group board" >
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input class="checkbox" id="c<%= task[i]._id%>" name="complete" type="checkbox">
                  </div>
                </div>
                <input id="c<%= task[i]._id%>_content" class="form-control" type="text" placeholder="<%= task[i].name%>" readonly>
                <button type="submit" name="abandon" class="btn btn-outline-secondary">Abandon</button>
                <input type="hidden" name=pass_id value="<%= task[i]._id%>">
              </div>
            </form>
              <% }%>

              <% if(task[i].owner != u_id&&task[i].done==0&&task[i].cleared!=1&&task[i].owner != null){ %>
                <form method="POST" name="othernotfinish" action="/othernotfinish">
              <div class="input-group board">
                <input class="form-control " id="c<%= task[i]._id%>" type="text" placeholder="<%= task[i].name%>" readonly>
              </div>
              </form>
              <% }%>

              <% if(task[i].owner == u_id&&task[i].done==1&&task[i].cleared!=1){ %>
                <form method="POST" id="uc<%= task[i]._id%>" action="/unfinish">
              <div class="input-group board">
                  <div class="input-group-text">
                    <input class="checkbox" id="c<%= task[i]._id%>" type="checkbox" checked aria-label="Checkbox for following text input">
                  </div>
                <input id="c<%= task[i]._id%>_content" class="form-control checked" type="text" placeholder="<%= task[i].name%>" readonly>
                <input type="hidden" name=pass_id value="<%= task[i]._id%>">
              </div>
              </form>
              <% }%>
              <% if(task[i].owner == null){ %>
            <form method="POST" name="claim" action="/claim">
              <div class="input-group board">
                <input class="form-control" id="<%= task[i]._id%>" type="text" placeholder="<%= task[i].name%>" readonly>
                <button type="submit" class="btn btn-outline-secondary">Claim</button>
                <input type="hidden" name=pass_username value="<%= u_id%>">
                <input type="hidden" name=pass_id value="<%= task[i]._id%>">
              </div>
            </form>
              <% }%>

              <% if(task[i].owner != u_id&&task[i].done==1&&task[i].cleared!=1){ %>
                <form method="POST" name="finish" action="/finish">
              <div class="input-group board">
              <input class="form-control checked" id="<%= task[i]._id%>" name="content" type="text" placeholder="<%= task[i].name%>" readonly>
              </div>
              </form>
              <% }%>

              <% }%>
                     </div>
                    </form>
                     <form method="POST" name="addtask" action="/addtask">
                
                    <div class="input-group-append">
                      <div class="input-group board">
                        <input type="text" name="content" class="form-control" placeholder="Enter a new task here" required autofocus>
                        <button id="create_todo" type="submit"  class="btn btn-outline-secondary">Add</button>
                        <input type="hidden" name="pass_user" value="<%= u_id%>">
                    </div>
                  </div>
                  </form>
                  <form method="POST" action="/purge" id="purge">
                 <center> <button id="delete"  type="submit" class="btn btn-outline-secondary">Remove Complete</button></center>
           
            </div>
            </section>
        </section>
    </section>
</div>
  </body>
</html>